<!-- <section class="section is-hero home-hero mb-2">
    <div class="container">
        <div class="columns is-centered">
                <div class="section-header has-text-centered">
                    <h1 class="title is-spaced has-text-success-dark">The Grocery List app for everyone</h1>
                    <h2 class="subtitle is-3 has-text-grey">
                        Create your pantry, find, add and share recipes, and add items to Grocery List.
                    </h2>
                </div>
            
        </div>
    </div>
</section> -->
<br />
<section>
    <div class="columns is-centered">
        <div class="column content is-half has-text-centered">
            <h2>The only grocery list app you'll need.</h2> 
            <p>
                With Hashed you can create a shopping list, pantry list, and save your favorite recipes for later.
                <strong>Completed your grocery run?</strong> Add those items straight to your pantry. 
                <strong>Running low on your favorite snack?</strong> One button click and it's back on the list. You can also add everything you need straight from your saved recipes to ensure you never miss an ingredient.
                <br />
                <h4>Log in to get started.</h4>
            </p>
            <form action="/login" method="POST" class="form">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="email" placeholder="Email" name="email" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="password" placeholder="Password" name="password"required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-primary">
                            Login
                        </button>
                    </p>
                </div>
            </form>
            <br />
            <p>Not Already a User?<a href="/signup"> Sign Up</a></p>

        </div>
    </div>
<section>