<section class="hero is-medium is-danger">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">
                        <h1 class="title">${title}</h1>
                    </a>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item">
                            Groceries
                        </a>
                        <a class="navbar-item">
                            Recipes
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<h1>${title}</h1>
<form action="/signup" method="POST">
    <input type="text" name="first_name" value="" placeholder="First Name">
    <input type="text" name="last_name" value="" placeholder="Last Name">
    <input type="email" name="email" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="Password">
    <input type="submit" name="submit">
</form>
<!-- <a href="/">Home</a> -->