<br />
<section>
    <div class="columns is-centered">
        <div class="column is-1"></div>
        <div class="column content has-text-centered">
            <div id="addItems">
                <div class="field">
                    <div class="control">
                        <input id="recipeSearch" class="input" type='text' name='recipeSearch' placeholder="Search recipes..." required>
                    </div>
                    <div class="control">
                        <input id="searchButton" class="button is-link search_button" type="button" value='Search' name='Search'>
                    </div>
                    <br />
                    <div class="control">
                        <input id="urlSearch" class="input is-rounded" type='text' name='urlSearch' placeholder="Get recipe from url..">
                    </div>
                    <div class="control">
                        <input id="urlSearchButton" class="button is-link search_button" type="button" value='Search' name='URLSearch'>
                    </div>
                </div>

                <div id="cardHolder">
                    <!-- <div id="searchCards" class="search_cards">

                    </div> -->
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <!-- <div class="control">
                        <button type='submit' name="add" value="Add" class="button is-link">Add Recipe</button>
                    </div> -->
                    <div class="control">
                        <button type='button' name="close" value="Close" class="button" id="closeAddItems" style="display:none;">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third has-text-centered">
            <div class="content">
                <h4>Your Recipes:</h4>
                <dl style="list-style-type: none;">
                    ${list.map(recipe =>{
                    return `<li><a href="/recipes/${recipe.id}">${recipe.title}</a></li>`
                    }).join('')}
                </dl>
            </div>
        </div>
        <div class="column is-1"></div>
    </div>
<section>