<section>
    <div class="columns is-mobile is-centered">
        <div class="column content is-half has-text-centered">
            <br />
            <div class="block">
                <h3><i class="fas fa-shopping-basket"></i><a href="/grocery"> Grocery List </a></i></h3>
            </div>
            <br />
            <div class="block">
                <h3><i class="fas fa-apple-alt"></i><a href="/pantry"> Pantry List </a></h3>
            </div>
            <br />
            <div class="block">
                <h3><i class="fas fa-archive"></i><a href="/recipes"> Recipe List </a></h3>
            </div>
            <br />
        </div>
    </div>
</section>

