<br />
<section>
    <div class="columns is-mobile is-centered">
        <div class="column content is-one-third has-text-centered">
            <!-- <h2>Recipes List</h2> -->
            <div class="field" id="addItemsButton">
                <div class="control">
                    <button type='button' name="addItems" value="AddItems" class="button is-link">Add Recipes</button>
                </div>
            </div>
            <!-- Add recipe form -->
            <form action='/recipes' method="POST" id="addItems">
                <div class="field">
                    <div class="control">
                        <input id="recipeSearch" class="input is-rounded" type='text' name='pantryItems' placeholder="Search recipes..." required>
                        <input id="searchButton" class="search_button" type="button" value='search' name='Search'>
                    </div>
                </div>
                <!-- <div class="field">
                    <div class="control">
                        <input class="input" type='text' value='' name='title' placeholder="Recipe Title" required>
                    </div>
                </div>
            
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" value='' name="ingredName" placeholder="Ingredients" required>
                        <input class="input" type="text" value='' name="ingredQty" placeholder="Quantity" required>
                        <div class="select">
                            <select value="" name="unit">
                                <option name="unit" value="each" selected>each</option>
                                <option name="unit" value="tbsp">tbsp</option>
                                <option name="unit" value="tsp">tsp</option>
                                <option name="unit" value="cup">cup</option>
                            </select>
                        </div>
                    </div>
                </div>
            
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" type='text' value='' name='instructions' placeholder="Instructions"></textarea>
                    </div>
                </div> -->
                <form action='/recipes/add' method="POST" >
                    <div id="searchCards" class="search_cards">

                    </div>
                </form>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type='submit' name="add" value="Add" class="button is-link">Add Recipe</button>
                    </div>
                    <div class="control">
                        <button type='button' name="close" value="Close" class="button" id="closeAddItems">Close</button>
                    </div>
                </div>
            </form>
            <br />
            <section>
                <h4>Recipes:</h4>
                    <dl style="list-style-type: none;">
                        ${list.map(recipe =>{
                        return `<li><a href="/recipes/${recipe.id}">${recipe.title}</a></li>`
                        }).join('')}
                    </dl>
            </section>
            <br />
        </div>
    </div>
<section>