<br />
<section>
    <div class="columns is-mobile is-centered">
        <div class="column content is-one-third has-text-centered">
            <h2>Pantry List</h2>
            <div class="field" id="addItemsButton">
                <div class="control">
                    <button type='button' name="addItems" value="AddItems" class="button is-link">Add Items</button>
                </div>
            </div>
            <form action='/pantry/add' method="POST" id="addItems">
                <div class="field">
                    <div class="control">
                        <input id="itemSearch" class="input" type='text' value='' name='pantryItems' placeholder="Pantry Item" required>
                        <button id='itemSearchButton' type='submit' name="add" value="Add" class="button is-link">Search</button>
                        <div class="match-list" id="itemList"></div>
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" value='' name="qty" placeholder="qty" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Units</label>
                    <div class="control">
                        <div class="select">
                            <select value="" name="unit">
                                <option name="unit" value="each" selected>each</option>
                                <option name="unit" value="tbsp">tbsp</option>
                                <option name="unit" value="tsp">tsp</option>
                                <option name="unit" value="cup">cup</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type='submit' name="add" value="Add" class="button is-link">Add</button>
                    </div>
                    <div class="control">
                        <button type='button' name="close" value="Close" class="button" id="closeAddItems">Close</button>
                    </div>
                </div>
            </form>
            <br />
            <section>
                <form action="/pantry" method="POST">
                    <dl style="list-style-type: none;"> 
                        ${list.map(pantryItem =>{
                            if (!pantryItem.completed){
                                return `<li>
                                    <input type="checkbox" class="todo" id="${pantryItem.id}" name ="id" value="${pantryItem.id}">
                                    <label for="${pantryItem.id}"> ${pantryItem.item}, <input type="text" id="qty" name="${pantryItem.id}" value="${pantryItem.qty}"> ${pantryItem.units}</label>
                                </li>`
                            }
                        }).join('')}
                    </dl>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button class="button is-link" type="submit" name="update" value="Update">Update</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-danger" type="submit" name="delete" value="Delete">Delete</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-danger" type="submit" name="grocery" value="Grocery">Add to Shopping</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
<section>



