
<br />
<section>
    <div class="columns is-centered">
        <div class="column content is-half has-text-centered">
            <h2>The only grocery list app you'll need.</h2> 
            <p>
                With Hashed you can create a shopping list, pantry list, and save your favorite recipes for later.
                <strong>Completed your grocery run?</strong> Add those items straight to your pantry. 
                <strong>Running low on your favorite snack?</strong> One button click and it's back on the list. You can also add everything you need straight from your saved recipes to ensure you never miss an ingredient.
                <br />
                <h4>Log in to get started.</h4>
            </p>
        </div>
    </div>
    <div style="text-align: center">
        <a href="/login" class="button is-primary">Log In</a> or <a href="/signup" class="button is-warning"> Sign Up</a></p>
    </div>
    <br />
    <div class="flex-container">
        <div class="box flex-item">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                    </div>
                </div>
            </div>
        </div>
        <div class="box flex-item">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                    </div>
                </div>
            </div>
        </div>
        <div class="box flex-item">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                    </div>
                </div>
            </div>
        </div>
        <div class="box flex-item">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    

</section>