<section>
    <div class="columns is-centered">
        <div class="column content is-half has-text-centered">
            <h2>Shopping List</h2>
            <form action='/grocery' method="POST">
                <input type="text" value='' name="qty" placeholder="qty" required>
                <select value="" name="unit">
                        <option name="unit" value="tbsp">tbsp</option>
                        <option name="unit" value="tsp">tsp</option>
                        <option name="unit" value="cup">cup</option>
                        <option name="unit" value="each">each</option>
                </select>
                <input type='text' value='' name='groceries' placeholder="What else?" required>
                <input type='text' value='' name='recipe_id' placeholder="Recipe-ID">
                <input type='submit' name="add" value="Add">
            </form>
            <section>
                <h4>Still Out There</h4>
                <form action="/grocery" method="POST">
                    <ul>
                        ${list.map(grocery =>{
                            if (!grocery.completed){
                                return `<li>
                                    <input type="checkbox" class="todo" id="${grocery.id}" name ="id" value="${grocery.id}">
                                    <label for="${grocery.id}">${grocery.qty} ${grocery.units} ${grocery.item}</label>
                                </li>`
                            }
                        }).join('')}
                    </ul>
                    <input type="submit" name="update" value="Update">
                    <input type="submit" name="delete" value="Delete">
                </form>
            </section>
            <section>
                <form action='/grocery' method="POST" >
                    <h4>All Done!</h4>
                    <ul>
                        ${list.map(grocery =>{
                            if (grocery.completed){
                                return `<li>
                                    <input type="checkbox" class="todo" id="${grocery.id}" name ="id" value="${grocery.id}" checked>
                                    <label for="${grocery.id}"><del>${grocery.qty} ${grocery.units} ${grocery.item}<del></label>
                                </li>`
                            }
                        }).join('')}
                    </ul>
                    <input type="submit" name="undo" value="Undo">
                </form>
            </section>
            <a href="/">Home</a>
        </div>
    </div>
<section>