<!-- <h1 class="title">${title}</h1> -->
<br />
<section>
    <div class="columns is-centered">
        <div class="column content is-half has-text-centered">
            <form action="/signup" method="POST" class="form">
                <div class="field">
                    <label class="label">Full Name</label>
                    <div class="control">
                        <input class="input is-rounded" type="text" placeholder="Full Name" name="name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="email" placeholder="you@email.com" name="email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="password" placeholder="Password" name="password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-link">Sign Up</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                    </div>
                </div>
            </form>
            <br />
            <p>Already a User?<a href="/login"> Log In</a></p>
        </div>
    </div>
<section>