<!-- <section class="section is-hero home-hero mb-2">
    <div class="container">
        <div class="columns is-centered">
                <div class="section-header has-text-centered">
                    <h1 class="title is-spaced has-text-success-dark">The Grocery List app for everyone</h1>
                    <h2 class="subtitle is-3 has-text-grey">
                        Create your pantry, find, add and share recipes, and add items to Grocery List.
                    </h2>
                </div>
            
        </div>
    </div>
</section> -->
<br />
<section>
    <div class="columns is-centered">
        <div class="column content is-half has-text-centered">
            
        </div>
    </div>
<section>