
<h1>To Dos</h1>
<p>Something new to do?</p>
<form action='/todo' method="POST">
    <input type='text' value='' name='to_do' placeholder="What's Next?" required>
    <input type='submit' name="add" value="Add">
</form>
<section>
    <h2>Still Out There</h2>
    <form action="/todo" method="POST">
        <ul>
            ${list.map(item =>{
                if (!item.completed){
                    return `<li>
                        <input type="checkbox" class="todo" id="${item.id}" name ="id" value="${item.id}">
                        <label for="${item.id}">${item.to_do}</label>
                    </li>`
                }
            }).join('')}
        </ul>
        <input type="submit" name="update" value="Update">
        <input type="submit" name="delete" value="Delete">
    </form>
</section>
<section>
    <form action='/todo' method="POST" >
        <h2>All Done!</h2>
        <ul>
            ${list.map(item =>{
                if (item.completed){
                    return `<li>
                        <input type="checkbox" id="${item.id}" name ="id" value="${item.id}" checked>
                        <label for="${item.to_do}"><del>${item.to_do}</del></label>
                    </li>`
                }
            }).join('')}
        </ul>
        <input type="submit" name="undo" value="Undo">
    </form>
</section>
<a href="/">Home</a>