<br />
<section>
    <div class="columns is-mobile is-centered">
        <div class="column content is-two-thirds-mobile is-three-fifths-tablet is-half-desktop is-two-fifths-widescreen is-two-fifths-fullhd has-text-centered">
            <div class="field" id="addItemsButton">
                <div class="control">
                    <button type='button' name="addItems" value="AddItems" class="button is-primary">Add Items</button>
                </div>
            </div>
            <!-- Add Items form activated by Add Items Button above -->
            <form action='/pantry/add' method="POST" id="addItems">
                <div class="field">
                    <div class="control">
                        <input id="itemSearch" class="input is-rounded" type='text' value='' name='pantryItems' placeholder="Pantry Item" required>
                        <div class="match-list" id="itemList"></div>
                    </div>
                </div>
                
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <input class="input-is-inline" type="text" value='' name="qty" placeholder="Qty" required>
                        <div class="select">
                            <select id="unitsList" value="" name="unit">
                                <option name="unit" value="each" selected>each</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type='submit' name="add" value="Add" class="button is-primary">Add</button>
                    </div>
                    <div class="control">
                        <button type='button' name="close" value="Close" class="button is-light" id="closeAddItems">Close</button>
                    </div>
                </div>
                <div id='hiddenInfo'></div>
            </form>
        </div>
    </div> 
    <div class="columns is-mobile is-centered">
        <div class="column content is-full-mobile is-four-fifths-tablet is-four-fifths-desktop is-four-fifths-widescreen is-four-fifths-fullhd has-text-centered">
            <section>
                <form action="/pantry" method="POST">
                    <dl style="list-style-type: none;"> 
                        ${list.map(pantryItem =>{
                            if (!pantryItem.completed){
                                return `<li>
                                    <input type="checkbox" class="todo" id="${pantryItem.id}" name ="id" value="${pantryItem.id}">

                                    <label for="${pantryItem.id}"> ${pantryItem.item}, <input type="text" id="qty" name="${pantryItem.id}" value="${pantryItem.qty}" class="input-is-inline"> ${pantryItem.units}</label>

                                    <button class="button fas fa-plus is-primary is-inverted" type="submit" name="add" value="Add ${pantryItem.id}" id="add">
                                        </button>
                                        <button class="button fas fa-minus is-primary is-inverted" type="submit" name="subtract" value="Subtract ${pantryItem.id}" id="subtract">
                                        </button>
                                </li>`
                            }
                        }).join('')}
                    </dl>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button class="button is-primary" type="submit" name="update" value="Update" ${list.filter(pantry => !pantry.completed).length ? '' : 'disabled'}>Update</button>
                        </div>
                        <div class="control">
                            <button class="button is-danger" type="submit" name="delete" value="Delete" ${list.filter(pantry => !pantry.completed).length ? '' : 'disabled'}>Delete</button>
                        </div>
                    </div>
                    <div class="field is-centered">    
                        <div class="control">
                            <button class="button is-primary" type="submit" name="grocery" value="Grocery" ${list.filter(pantry => !pantry.completed).length ? '' : 'disabled'}>Add to Shopping List</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
<section


