<!DOCTYPE html>
<html>
    <head>
        <title>Hashed</title>
        <meta name="viewport" content="width=device-width initial-scale = 1"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/png" href="/images/favicon_io/favicon-32x32.png">
    </head>
    <body>
        <section class="hero is-medium is-success">
            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            ${!!is_logged_in ? `<a class="navbar-item" href="/home"><img src="/images/Hashed-logo-128h.png" alt="Hashed"><h1 class="title">Hashed</h1></a>` : `
                            <a class="navbar-item navbar-end" href="/"><h1 class="title"><img src="/images/Hashed-logo-128h.png" alt="Hashed">Hashed</h1></a> `}
                        
                                ${!!is_logged_in ? `<div class="navbar-item is-grouped-centered">Hi ${name}</div>` : ``}
                            
                            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                ${!!is_logged_in ? `
                                <a href="/home" class="navbar-item">
                                    Profile Home
                                </a>
                                <div class="navbar-item">
                                    <div class="buttons">
                                        <a class="button is-light" href="/logout">Logout</a>` 
                                        : 
                                        `<a class="button is-warning mr-1" href="/signup"><strong>Sign Up</strong></a>
                                        <a class="button is-light" href="/login">Login</a> `}
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- Hero content: will be in the middle -->
            <div class="hero-body home-hero mb-2">
                <div class="container has-text-centered">
                    <h1 class="title hero-title">
                        ${title}
                    </h1>
                </div>
            </div>

            <!-- Hero footer: will stick at the bottom -->
            <div class="hero-foot"> ${!!is_logged_in? `
                <nav class="tabs is-boxed is-fullwidth">
                    <div class="container">
                        <ul>
                            <li ${baseUrl === "/grocery" ? `class="is-active"` : `class='not-active'`}><a href="/grocery"><i class="fas fa-shopping-basket"></i> Groceries</a></li>
                            <li ${baseUrl === "/pantry" ? `class="is-active"` : ``}><a href="/pantry"><i class="fas fa-apple-alt"></i>Pantry</a></li>
                            <li ${baseUrl === "/recipes" ? `class="is-active"` : ``}><a href="/recipes"><i class="fas fa-archive"></i>Recipes</a></li>
                        </ul>
                    </div>
                </nav> `
                :
                ``}
            </div>

        </section>
    <div>
        <!-- <aside class="menu column is-one-fifth">
            <p><a>Profile</a></li></p>
            <p class="menulist"><i class="fas fa-apple-alt"></i><a href="/pantry"> Pantry List</a></p>
            <p class="menulist"><i class="fas fa-shopping-basket"></i><a href="/grocery"> Grocery List</a></p>
            <p class="menulist"><i class="fas fa-archive"></i><a href="/recipes"> Recipe List</a></p>

            <ul class="menu-list">
                <li><a>Profile</a></li>
                <li><i class="fas fa-apple-alt"></i><a href="/pantry"> Pantry List</a></li>
                <li><i class="fas fa-shopping-basket"></i><a href="/grocery"> Grocery List</a></li>
                <li><i class="fas fa-archive"></i><a href="/recipes"> Recipe List</a></li>
            </ul>
        </aside> -->

        <main>${partial}</main>
    </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <div>
                    <p>${!!is_logged_in ? 
                    `<a href="/pantry">Home</a>` 
                    : 
                    `<a href="/">Home</a> `}</p>
                </div>
                <br />
                <p><strong>Built</strong> by <a href="https://github.com/Mjheverett/recipe_grocery">Hashed</a>.</p>
                <div>
                    <a href="https://bulma.io">
                        <img src="/images/made-with-bulma--black.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </div>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/b91ebdb5e6.js" crossorigin="anonymous"></script>
        <script src="/scripts/navbar.js"></script>
        ${scripts}
        
    </body>
</html>