body {
    font-size: 20px;
}

select {
    margin-bottom: 2rem;
}

.checked {
    color: orange;
}

.tabicon{
    padding-right: 1rem;

}

.hero-title {
    color: rgb(255, 255, 255) !important;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgb(141, 141, 141), 0 0 1em rgb(72, 199, 116), 0 0 0.2em rgb(72, 199, 116);
}

.hide{
    display: none;
}

.home-hero{
    background-image: url("../images/shopping-cart-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    
}

.input-is-inline {
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05) !important;
    /* max-width: 100%;
    width: 100%; */
    background-color: #fff;
    color: #363636;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-color: #dbdbdb;
    border-radius: 4px;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
}

.input-is-inline:hover {
    border-color: #b5b5b5;
}

.match-list{
    background-color: white;
    border-radius: .3rem;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    color: black;
    /* font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
}

.match-list > div:hover{
    background-color:rgb(145, 223, 117);
    color: black;
    cursor: pointer;
    border-radius:5px;
    /* text-align: left; */
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.search_button {
    margin-top: .75rem;
}